 ---------------------------------------------------------------------------- 
  LISTE DES DOSSIERS 1 FICHIERS EXCLUS DU PARTAGE 
 ---------------------------------------------------------------------------- 
 
docs/
.obsidian/
.venv/
tests/
