---------------------------------------------------
Fichiers/Dossiers à ne pas partager
---------------------------------------------------
 
PROJETTP7_API_WEB_V2.pdf
README.pdf
annexes/
consignes_projet_dev_2024_D08.pdf
img/
.venv
.pytest_cache/
*.db
.env
__pycache__/
*.pyc
.env.template